.content > h1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: var(--h1-height);
	font-size: var(--h1-fsize);
	line-height: var(--line-height-sm);
}
.content > h1 > em {
	margin-top: 0.4em;
	text-align: center;
	font-size: var(--h1-fsize-sm);
	line-height: var(--line-height-md);
	font-weight: 400;
	word-break: keep-all;
}

/* Service Intro */
.service-intro > .head {
	display: flex;
}
.service-intro > .head > i {
	width: 360px;
	height: 240px;
	margin: 0 24px 0 0;
}
.service-intro > .head > .info {
	flex: 1;
}
.service-intro .info-1 {
	margin-top: 16px;
}
.service-intro h2 {
	margin-bottom: 8px;
	font-size: 32px;
	line-height: var(--line-height-sm);
}
.service-intro h2 > em {
	color: var(--mint-900);
}
.service-intro h3 {
	display: flex;
	align-items: center;
	margin: 16px 0 8px;
	font-size: 18px;
	line-height: var(--line-height-sm);
}
.service-intro h3:before {
	content: '';
	width: 24px;
	height: 24px;
	margin-right: 4px;
	background: url(../images/ic_required.svg) no-repeat;
	background-size: auto 100%;
}
.service-intro p,
.service-intro li {
	font-size: 16px;
	line-height: var(--line-height-md);
	color: var(--gray-700);
	word-break: keep-all;
}
.service-intro li {
	position: relative;
	padding-left: 14px;
	letter-spacing: -0.4px;
}
.service-intro li:not(:first-child) {
	margin-top: 2px;
}
.service-intro li:before {
	content: '';
	position: absolute;
	left: 4px;
	top: calc(1em * var(--line-height-sm) / 2 - 2px);
	width: 4px;
	height: 4px;
	background-color: var(--gray-700);
	border-radius: 50%;
}
@media (max-width: 1023px) {
	.service-intro > .head {
		flex-direction: column;
		align-items: center;
	}
	.service-intro > .head > .info {
		min-width: 100%;
	}
	.service-intro .info-1 {
		text-align: center;
	}
}
@media (max-width: 743px) {
	.service-intro > .head > i {
		width: 100%;
		height: 208px;
		margin: 0 0 8px 0;
		background-position-x: 50%;
	}
	.service-intro > .head p,
	.service-intro > .head li {
		font-size: 14px;
	}
	.service-intro .info-1 {
		margin-top: 8px;
	}
	.service-intro h2 {
		margin-bottom: 4px;
		font-size: 24px;
	}
	.service-intro h3 {
		margin: 24px 0 8px;
		font-size: 16px;
	}
	.service-intro p br {
		display: none;
	}
	.service-intro > .head li {
		padding-left: 12px;
	}
	.service-intro > .head li:before {
		width: 3px;
		height: 3px;
	}
}
@media (min-width: 744px) and (max-width: 1023px) {
	.service-intro > .head > i {
		margin: 0 0 16px 0;
	}
	.service-intro h3 {
		margin: 32px 0 8px;
	}
}
@media (min-width: 1024px) and (max-width: 1439px) {
}
@media (min-width: 1440px) {
	.service-intro > .head > i {
		width: 480px;
		height: 320px;
		margin: 0 32px 0 0;
	}
	.service-intro .info-1 {
		margin-top: 24px;
	}
	.service-intro h2 {
		margin-bottom: 12px;
		font-size: 40px;
	}
	.service-intro h3 {
		margin: 24px 0 12px;
		font-size: 20px;
	}
	.service-intro h3:before {
		width: 28px;
		height: 28px;
	}
	.service-intro p,
	.service-intro li {
		font-size: 18px;
	}
	.service-intro li:not(:first-child) {
		margin-top: 4px;
	}
}
.service-intro > .summary {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 24px;
	margin: var(--px-lg) 0;
}
.service-intro > .summary > .box {
	display: grid;
	grid-template-columns: 1fr auto;
	grid-template-rows: auto 1fr;
	min-height: 200px;
	padding: 24px;
	background-color: var(--gray-10);
	border-radius: 16px;
}
.service-intro > .summary > .box > h4 {
	grid-column: 1 / 3;
	margin-bottom: 8px;
	font-size: var(--heading-box);
	line-height: var(--line-height-sm);
}
.service-intro > .summary > .box > i {
	grid-column: 2 / 3;
	align-self: end;
	width: 80px;
	height: 80px;
	margin: 0 -8px -8px 0;
}
@media (max-width: 743px) {
	.service-intro > .summary {
		grid-template-columns: 1fr;
		grid-gap: 16px;
	}
}
@media (min-width: 744px) and (max-width: 1023px) {
	.service-intro > .summary {
		grid-template-columns: 1fr 1fr;
	}
}
@media (min-width: 1440px) {
	.service-intro > .summary {
		grid-gap: 32px;
	}
	.service-intro > .summary > .box {
		min-height: 228px;
		padding: 32px;
	}
	.service-intro > .summary > .box > h4 {
		margin-bottom: 12px;
	}
	.service-intro > .summary > .box > i {
		width: 96px;
		height: 96px;
	}
}

/* Option Info */
.option-info {
	margin: 48px -9999px;
	padding: 96px 9999px;
	background-color: var(--gray-10);
}
.option-info h2 {
	display: inline-block;
	width: 100%;
	margin: 96px 0 48px;
	text-align: center;
	font-size: 40px;
	line-height: var(--line-height-sm);
	word-break: keep-all;
}
.option-info h2:first-child {
	margin-top: 0;
}
.option-info h2 > em {
	background: linear-gradient(to top, transparent 4px, var(--mint-900) 4px, var(--mint-900) 12px, transparent 12px);
}
.option-info h2 > span {
	display: block;
	margin-top: 12px;
	font-size: 18px;
	font-weight: 400;
	word-break: keep-all;
}
.option-info h2 > span > br {
	display: none;
}
.option-info > .summary {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 32px;
}
.option-info > .summary > .box {
	padding: 32px;
	background-color: #fff;
	border: 2px solid var(--mint-900);
	border-radius: 16px;
	box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.08);
}
.option-info > .summary > .box > h4 {
	margin-bottom: 4px;
	font-size: 24px;
	line-height: var(--line-height-sm);
}
.option-info > .summary > .box > h4 > em {
	color: var(--mint-900);
}
.option-info > .summary > .box > p {
	font-size: 18px;
	line-height: var(--line-height-sm);
	color: var(--gray-700);
	word-break: keep-all;
}
.option-info > .summary > .box > p.strong {
	margin: 12px 0;
	font-size: 18px;
	font-weight: 600;
}
.option-info > .summary > .box > p.strong > em {
	background: linear-gradient(to top, transparent 2px, var(--mint-900) 2px, var(--mint-900) 6px, transparent 6px);
}
.option-info > .summary > .box li {
	position: relative;
	padding-left: 24px;
	font-size: 16px;
	line-height: var(--line-height-sm);
}
.option-info > .summary > .box li:not(:first-child) {
	margin-top: 4px;
}
.option-info > .summary > .box li:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 20px;
	height: 20px;
	background: url(../images/ic_check_bk.svg) no-repeat;
	background-size: auto 100%;
}
.option-info > .personal {
	display: flex;
	justify-content: center;
}
.option-info > .personal > .box {
	position: relative;
	display: flex;
	align-items: center;
	width: 320px;
}
.option-info > .personal > .box:not(:first-child) {
	margin-left: 65px;
}
.option-info > .personal > .box:not(:first-child):before {
	content: '';
	position: absolute;
	left: -33px;
	width: 1px;
	height: 64px;
	background-color: var(--gray-200);
}
.option-info > .personal > .box > i {
	width: 96px;
	height: 96px;
	margin-right: 24px;
}
.option-info > .personal > .box > i.day {
	background-image: url(../images/ic_service_1day.svg);
}
.option-info > .personal > .box > i.allday {
	background-image: url(../images/ic_service_allday.svg);
}
.option-info > .personal > .box > div {
	flex: 1;
}
.option-info > .personal > .box h4 {
	margin-bottom: 4px;
	font-size: 24px;
	line-height: var(--line-height-sm);
}
.option-info > .personal > .box p {
	font-size: 18px;
	line-height: var(--line-height-sm);
	white-space: nowrap;
}
.option-info > .personal > .box p > br {
	display: none;
}
@media (max-width: 743px) {
	.option-info {
		margin-top: 24px;
		margin-bottom: 24px;
		padding-top: 48px;
		padding-bottom: 48px;
	}
	.option-info h2 {
		margin: 48px 0 24px;
		font-size: 18px;
	}
	.option-info h2 > em {
		background: linear-gradient(to top, transparent 2px, var(--mint-900) 2px, var(--mint-900) 6px, transparent 6px);
	}
	.option-info h2 > span {
		margin-top: 8px;
		font-size: 14px;
	}
	.option-info h2 > span > br {
		display: inline;
	}
	.option-info > .summary {
		grid-template-columns: 1fr;
		grid-gap: 24px;
		justify-items: center;
	}
	.option-info > .summary > .box {
		width: 100%;
		max-width: 372px;
	}
	.option-info > .summary > .box > h4 {
		margin-bottom: 8px;
	}
	.option-info > .summary > .box > p {
		font-size: 14px;
	}
	.option-info > .summary > .box > p.strong {
		margin: 12px 0 16px;
	}
	.option-info > .summary > .box li {
		font-size: 14px;
	}
	.option-info > .personal > .box {
		flex-direction: column;
		width: 100%;
		max-width: 148px;
		text-align: center;
	}
	.option-info > .personal > .box:not(:first-child) {
		margin-left: 21px;
	}
	.option-info > .personal > .box:not(:first-child):before {
		left: -11px;
		top: 50%;
		height: 48px;
		margin-top: -24px;
	}
	.option-info > .personal > .box > i {
		width: 64px;
		height: 64px;
		margin-right: 0;
		margin-bottom: 8px;
	}
	.option-info > .personal > .box h4 {
		font-size: 16px;
	}
	.option-info > .personal > .box p {
		font-size: 14px;
	}
	.option-info > .personal > .box p > br {
		display: inline;
	}
}
@media (min-width: 744px) and (max-width: 1023px) {
	.option-info {
		margin-top: 32px;
		margin-bottom: 32px;
		padding-top: 64px;
		padding-bottom: 64px;
	}
	.option-info h2 {
		margin: 64px 0 32px;
		font-size: 24px;
	}
	.option-info h2 > em {
		background: linear-gradient(to top, transparent 3px, var(--mint-900) 3px, var(--mint-900) 9px, transparent 9px);
	}
	.option-info h2 > span {
		margin-top: 8px;
		font-size: 16px;
	}
	.option-info > .summary {
		grid-template-columns: 1fr;
		justify-items: center;
	}
	.option-info > .summary > .box {
		width: 100%;
		max-width: 372px;
		padding: 40px;
	}
	.option-info > .summary > .box > h4 {
		margin-bottom: 8px;
		font-size: 28px;
	}
	.option-info > .personal > .box {
		width: 280px;
	}
	.option-info > .personal > .box:not(:first-child) {
		margin-left: 49px;
	}
	.option-info > .personal > .box:not(:first-child):before {
		left: -25px;
		height: 48px;
	}
	.option-info > .personal > .box > i {
		width: 64px;
		height: 64px;
		margin-right: 16px;
	}
	.option-info > .personal > .box h4 {
		font-size: 20px;
	}
	.option-info > .personal > .box p {
		font-size: 16px;
	}
}
@media (min-width: 1024px) and (max-width: 1439px) {
	.option-info {
		margin-top: 40px;
		margin-bottom: 40px;
		padding-top: 80px;
		padding-bottom: 80px;
	}
	.option-info h2 {
		margin: 80px 0 40px;
		font-size: 32px;
		line-height: 1.25;
	}
	.option-info h2 > span {
		margin-top: 8px;
		font-size: 16px;
	}
	.option-info > .summary {
		grid-gap: 24px;
	}
	.option-info > .summary > .box {
		padding: 24px;
	}
	.option-info > .summary > .box > p {
		font-size: 16px;
	}
	.option-info > .personal > .box {
		width: 280px;
	}
	.option-info > .personal > .box:not(:first-child) {
		margin-left: 49px;
	}
	.option-info > .personal > .box:not(:first-child):before {
		left: -25px;
		height: 56px;
	}
	.option-info > .personal > .box > i {
		width: 80px;
		height: 80px;
		margin-right: 16px;
	}
	.option-info > .personal > .box h4 {
		font-size: 20px;
	}
	.option-info > .personal > .box p {
		font-size: 16px;
	}
}
@media (min-width: 1440px) {
	.option-info h2 {
		line-height: 1.2;
	}
	.option-info > .summary > .box > h4 {
		margin-bottom: 8px;
		font-size: 32px;
	}
	.option-info > .summary > .box > p.strong {
		margin: 16px 0;
		font-size: 20px;
	}
	.option-info > .summary > .box > p.strong > em {
		background: linear-gradient(to top, transparent 2px, var(--mint-900) 2px, var(--mint-900) 8px, transparent 8px);
	}
	.option-info > .summary > .box li {
		padding-left: 28px;
		font-size: 18px;
	}
	.option-info > .summary > .box li:before {
		top: calc((1em * var(--line-height-sm) - 24px) / 2);
		width: 24px;
		height: 24px;
	}
}

/* Promotion Info */
.promotion-info {
	display: flex;
	margin-top: 96px;
	padding: 0 96px;
	color: #fff;
	background-color: var(--mint-900);
	border-radius: 16px;
	word-break: keep-all;
}
.promotion-info > i {
	width: 240px;
	min-height: calc(100% + 40px);
	margin: -40px 32px 0 0;
	background: url(../images/img_promotion.svg) no-repeat;
	background-size: 100% auto;
}
.promotion-info > .inner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 160px;
	padding: 28px 0;
}
.promotion-info h4 {
	margin-bottom: 8px;
	font-size: 32px;
	line-height: 1.25;
}
.promotion-info p {
	font-size: 20px;
	line-height: var(--line-height-sm);
	font-weight: 600;
}
@media (max-width: 743px) {
	.promotion-info {
		flex-direction: column;
		margin-top: 64px;
		padding: 24px;
	}
	.promotion-info > i {
		width: 120px;
		height: 100px;
		min-height: auto;
		margin: -56px 0 16px 0;
	}
	.promotion-info > .inner {
		min-height: auto;
		padding: 0;
	}
	.promotion-info h4 {
		margin-bottom: 4px;
		font-size: 20px;
	}
	.promotion-info p {
		font-size: 14px;
	}
	.promotion-info p br {
		display: none;
	}
}
@media (min-width: 744px) and (max-width: 1023px) {
	.promotion-info {
		margin-top: 64px;
		padding: 0 16px;
	}
	.promotion-info > i {
		width: 180px;
		min-height: calc(100% + 30px);
		margin: -30px 24px 0 0;
	}
	.promotion-info > .inner {
		min-height: 112px;
		padding: 20px 0;
	}
	.promotion-info h4 {
		font-size: 20px;
	}
	.promotion-info p {
		font-size: 14px;
	}
}
@media (min-width: 1024px) and (max-width: 1439px) {
	.promotion-info {
		margin-top: 80px;
		padding: 0 48px;
	}
	.promotion-info > i {
		width: 210px;
		min-height: calc(100% + 35px);
		margin: -35px 24px 0 0;
	}
	.promotion-info > .inner {
		min-height: 130px;
		padding: 24px 0;
	}
	.promotion-info h4 {
		font-size: 24px;
	}
	.promotion-info p {
		font-size: 16px;
	}
}

/* Inquiry Info */
.inquiry-info {
	display: flex;
	margin: 0 calc(-1 * var(--space-md) / 2);
}
.inquiry-info > a {
	flex: 1;
	margin: 0 calc(var(--space-md) / 2);
}
.inquiry-info > a:not(:first-child) {
}
@media (max-width: 743px) {
	.inquiry-info {
		flex-direction: column;
	}
	.inquiry-info > a {
		justify-content: flex-start;
	}
	.inquiry-info > a:not(:first-child) {
		margin-top: 12px;
	}
}
@media (min-width: 744px) and (max-width: 1023px) {
	.inquiry-info {
		flex-wrap: wrap;
	}
	.inquiry-info > a:last-child {
		min-width: calc(100% - var(--space-md));
		margin-top: var(--space-md);
	}
}

/* Process Info */
.process-info {
	display: flex;
	margin: 0 calc(-1 * var(--space-md) / 2);
	counter-reset: li;
	line-height: var(--line-height-sm);
}
.process-info > li {
	flex: 1;
	margin: 0 calc(var(--space-md) / 2);
	padding: 0 24px;
}
.reduced .process-info {
	margin: 0 -12px;
}
.reduced .process-info > li {
	margin: 0 12px;
	padding: 0 8px;
}
.process-info > li > .ic {
	display: block;
	width: var(--ic-xlg);
	height: var(--ic-xlg);
	margin-bottom: 8px;
}
.process-info > li > span {
	position: relative;
	display: block;
}
.process-info > li:not(:first-child) > span:before {
	content: '';
	position: absolute;
	left: -36px;
	top: 0;
	width: 24px;
	height: 24px;
	background: url(/img/arrow.svg) no-repeat;
	background-size: auto 100%;
}
.process-info > li > span > strong {
	display: block;
	font-size: 18px;
}
.process-info > li > span > strong:before {
	content: counter(li) '. ';
	counter-increment: li;
}
.process-info > li > span > em {
	display: block;
	margin-top: 8px;
	font-size: 16px;
	color: var(--gray-700);
}
@media (max-width: 1023px) {
	.process-info {
		flex-direction: column;
	}
	.process-info > li {
		display: flex;
		padding: 0 !important;
	}
	.process-info > li:not(:first-child) > span:before {
		display: none;
	}
}
@media (max-width: 743px) {
	.process-info > li:not(:first-child) {
		margin-top: 20px;
	}
	.process-info > li > .ic {
		margin: 0 12px 0 0;
	}
	.process-info > li > span > strong {
		font-size: 16px;
	}
	.process-info > li > span > em {
		margin-top: 4px;
		font-size: 14px;
	}
}
@media (min-width: 744px) and (max-width: 1023px) {
	.process-info > li:not(:first-child) {
		margin-top: 24px;
	}
	.process-info > li > .ic {
		margin: 0 16px 0 0;
	}
}

/* App Info */
.app-info {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	overflow: hidden;
	margin-top: 48px;
	padding: 32px;
	border-radius: 16px;
	background-color: var(--gray-10);
}
.app-info > h2 {
	width: 100%;
	margin-bottom: 24px;
	text-align: center;
	font-size: 24px;
	line-height: var(--line-height-sm);
}
.app-info > h2 > em {
	color: var(--mint-900);
}
.app-info > a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 296px;
	height: 60px;
	margin: 0 8px;
	font-size: 16px;
	font-weight: 600;
	background: #fff;
	border-radius: 8px;
}
.app-info > a:before {
	content: '';
	width: 28px;
	height: 28px;
	margin-right: 4px;
	background-repeat: no-repeat;
	background-size: auto 100%;
}
.app-info > a.gp:before {
	background-image: url(../images/logo_googleplay.svg);
}
.app-info > a.as:before {
	background-image: url(../images/logo_appstore.svg);
}
@media (max-width: 743px) {
	.app-info {
		flex-direction: column;
		align-items: center;
		padding: 24px;
	}
	.app-info > h2 {
		margin-bottom: 4px;
		font-size: 16px;
	}
	.app-info > a {
		width: 100%;
		max-width: 264px;
		height: 48px;
		margin: 12px 0 0;
		font-size: 14px;
	}
	.app-info > a:before {
		width: 24px;
		height: 24px;
	}
}
@media (min-width: 744px) and (max-width: 1023px) {
	.app-info > h2 {
		margin-bottom: 24px;
		font-size: 20px;
	}
	.app-info > a {
		width: 264px;
		height: 56px;
		font-size: 14px;
	}
	.app-info > a:before {
		width: 24px;
		height: 24px;
	}
}
@media (min-width: 1440px) {
	.app-info {
		margin-top: 64px;
		padding: 40px;
	}
	.app-info > h2 {
		margin-bottom: 32px;
		font-size: 32px;
	}
	.app-info > a {
		width: 392px;
		height: 64px;
		margin: 0 16px;
		font-size: 18px;
	}
	.app-info > a:before {
		width: 32px;
		height: 32px;
	}
}

/* Tabs */
.tabs {
	display: flex;
	margin-bottom: var(--px-lg);
}
.tabs > li {
	flex: 1;
	min-height: var(--btn-xlg2);
	font-size: var(--tab-fsize);
	background-color: #fff;
	border: 1px solid var(--midnight-100);
}
.tabs > li:not(:first-child) {
	margin-left: -1px;
}
.tabs > li.active {
	position: relative;
	font-weight: 600;
	color: #fff;
	background-color: var(--midnight-900);
	border-color: var(--midnight-900);
}
.tabs > li > a {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 8px;
	text-align: center;
	line-height: 1.1;
	color: inherit;
}
@media (max-width: 743px) {
	.tabs > li > a > span > i {
		display: block;
	}
}

/* Search */
.search {
	display: flex;
	justify-content: center;
	margin-bottom: var(--px-md);
	padding: var(--px-md);
	background-color: var(--gray-10);
}
@media (max-width: 743px) {
	.search {
		padding: 0;
	}
}
.search .input-wrap {
	width: var(--search-bar-width);
}
.search .input-wrap input {
	height: var(--btn-xlg2);
	padding-left: 16px;
	padding-right: calc(var(--ic-sm) + var(--clear-space) + var(--btn-xlg2) - 2px);
	font-size: 1rem;
	border-color: var(--midnight-900);
}
.search .input-wrap input + .clear {
	right: calc(1px + var(--btn-xlg2) - 2px);
}
.search .input-wrap .submit {
	position: absolute;
	right: 1px;
	top: 1px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: calc(var(--btn-xlg2) - 2px);
	height: calc(100% - 2px);
	font-size: 0;
}
.search .input-wrap .submit:before {
	content: '';
	width: var(--ic-md);
	height: var(--ic-md);
	background: url(/img/search.svg) no-repeat;
	background-size: auto 100%;
}
.search-info {
	display: flex;
	justify-content: space-between;
	margin: var(--px-md) 0;
}
.search-info > .heading-info {
	margin: 0;
}
.search-info > .init {
	display: flex;
	align-items: center;
	padding: 0 4px;
	font-size: 16px;
}
.search-info > .init:before {
	content: '';
	width: var(--ic-sm);
	height: var(--ic-sm);
	margin-right: 2px;
	background: url(../images/ic_init.svg) no-repeat;
	background-size: auto 100%;
}
@media (max-width: 743px) {
	.search-info > .init {
		padding: 0 2px;
		font-size: 14px;
	}
}
.no-data {
	border-top: 2px solid var(--midnight-900);
	padding: var(--space-box2) 0;
	text-align: center;
	border-bottom: 1px solid var(--gray-200);
}
.no-data:before {
	display: block;
	content: '';
	width: var(--ic-xlg2);
	height: var(--ic-xlg2);
	margin: 0 auto var(--space-xsm2);
	background: url(../images/ic_nodata.svg) no-repeat;
	background-size: auto 100%;
}
.no-data > p {
	margin-top: var(--space-xsm);
	line-height: var(--line-height-md);
	color: var(--gray-500);
	word-break: keep-all;
}

/* Filter */
.filter {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: var(--px-md);
	margin-right: -2px;
}
.filter label {
	position: relative;
	display: flex;
	height: var(--btn-md);
	overflow: hidden;
	margin-right: 2px;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}
@media (max-width: 743px) {
	.filter,
	.filter label {
		margin-right: 0;
	}
}
.filter label > input {
	position: absolute;
	left: -100%;
}
.filter label > i {
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: var(--btn-md);
	padding: 0 var(--space-sm);
	font-weight: 600;
	letter-spacing: -0.4px;
	border-radius: calc(var(--btn-md) / 2);
}
.filter label > input:checked + i {
	color: #fff;
	background-color: var(--mint-900);
}

/* FAQ */
.faq-list {
	border-top: 2px solid var(--midnight-900);
}
.faq-list > li {
	border-bottom: 1px solid var(--gray-100);
}
.faq-list .a > button {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	overflow: hidden;
	padding: var(--faq-list-a-padding-v) 0;
	padding-right: calc(var(--px-xlg) + 1.6em);
	font-size: var(--faq-list-a-size);
	line-height: var(--line-height-sm);
	-webkit-tap-highlight-color: transparent;
}
.faq-list .a > button:after {
	content: '';
	position: absolute;
	right: calc((var(--px-xlg) - var(--ic-md)) / 2);
	width: var(--ic-md);
	height: var(--ic-md);
	background: url(/img/arrow.svg) no-repeat;
	background-size: auto 100%;
	transition: transform 0.4s var(--cubic-bezier-primary);
}
.faq-list > li.active .a {
	background-color: var(--gray-10);
}
.faq-list > li.active .a > button:after {
	transform: rotate(180deg);
}
.faq-list .a > button > em {
	box-sizing: content-box;
	width: 8em;
	padding: 0 var(--faq-list-a-padding-h);
	color: var(--gray-500);
}
.faq-list .a > button > em + em {
	width: 6em;
}
.faq-list .a > button > strong {
	flex: 1;
	padding-left: var(--faq-list-a-padding-h);
	text-align: left;
}
@media (max-width: 1023px) {
	.faq-list .a > button {
		flex-wrap: wrap;
	}
	.faq-list .a > button > em {
		display: flex;
		align-items: center;
		width: auto !important;
		margin: 0 0 4px 0;
		padding: 0;
		font-size: calc(1em - 4px);
		line-height: var(--line-height-md);
	}
	.faq-list .a > button > em + em:before {
		content: '';
		width: 16px;
		height: 16px;
		margin: 0 4px;
		background: url(/img/arrow.svg) no-repeat;
		background-size: auto 100%;
		transform: rotate(-90deg);
		opacity: 0.3;
	}
	.faq-list .a > button > strong {
		min-width: 100%;
		margin: 0;
		padding: 0;
	}
}
@media (max-width: 743px) {
	.faq-list .a > button > em + em:before {
		width: 16px;
		height: 16px;
		margin: 0 2px;
	}
}
.faq-list .q > .inner {
	padding: var(--faq-list-q-padding);
	font-size: 1rem !important;
	line-height: var(--line-height-lg);
	border-top: 1px solid var(--gray-100);
	overflow-x: scroll;
}
.faq-list > li:not(.show):not(.ing) > .q {
	display: none;
}
.faq-list > li.ing > .q {
	overflow: hidden;
	height: 0;
	transition: height 0.6s var(--cubic-bezier-primary);
}

/* Gallery List */
.gallery-list {
	display: flex;
	flex-wrap: wrap;
	margin-right: calc(-1 * var(--gallery-list-space));
}
.gallery-list > li {
	width: 100%;
	max-width: calc((100% - var(--gallery-list-space) * var(--gallery-list-length)) / var(--gallery-list-length));
	margin-right: var(--gallery-list-space);
	margin-bottom: var(--px-lg);
}
.gallery-list > li > a {
	display: block;
}
.gallery-list .thumb {
	position: relative;
	overflow: hidden;
	padding-top: 56.25%;
	background-color: var(--gray-50);
}
.gallery-list .thumb:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url(/logo.svg) no-repeat 50%;
	opacity: 0.2;
}
.gallery-list .thumb > img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.gallery-list .title {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	max-height: 3em;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-top: var(--gallery-list-title-space);
	font-size: var(--gallery-list-title-size);
	line-height: 1.5;
	font-weight: 600;
}

/* Board List */
.board-list {
	border-top: 2px solid var(--midnight-900);
}
.board-list > li {
	border-bottom: 1px solid var(--gray-100);
}
.board-list > li > a {
	display: block;
	padding: var(--board-head-padding);
}
.board-list .title {
	display: flex;
	align-items: center;
}
.board-list .title > strong {
	flex: 1;
	display: flex;
	align-items: center;
	overflow: hidden;
	line-height: var(--line-height-sm);
}
@media (hover: hover) and (pointer: fine) {
	.board-list > li > a:hover .title > strong {
		text-decoration: underline;
		text-decoration-thickness: 1px;
	}
}
.board-list .title > strong > span {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: var(--board-heading-fsize);
}
.board-list .pinned .title > strong:after {
	flex: 1;
	content: '고정된 게시물';
	min-width: calc(var(--board-heading-fsize) * var(--line-height-sm));
	height: calc(var(--board-heading-fsize) * var(--line-height-sm) - 4px);
	max-height: 32px;
	min-height: 22px;
	margin-top: -2px;
	margin-left: 0.25rem;
	font-size: 0;
	background: url(../images/ic_pin.svg) no-repeat;
	background-size: auto 100%;
}
.board-list .title > em {
	margin-left: calc(var(--board-heading-fsize) * 2);
	color: var(--gray-500);
}
@media (max-width: 743px) {
	.board-list .title {
		flex-wrap: wrap;
	}
	.board-list .title > strong {
		min-width: 100%;
	}
	.board-list .title > em {
		margin-left: 0;
		margin-top: 4px;
		font-size: 12px;
	}
}
.board-list .summary {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	max-height: calc((var(--line-height-lg) - 0.1) * 3);
	overflow: hidden;
	text-overflow: ellipsis;
	margin-top: 0.75em;
	line-height: calc(var(--line-height-lg) - 0.1);
}
.board-list .summary:empty {
	display: none;
}

/* Board View */
.board-view > .head {
	padding: var(--board-head-padding);
	border-top: 2px solid var(--midnight-900);
	border-bottom: 1px solid var(--gray-200);
}
.board-view > .head > h2 {
	font-size: var(--board-heading-fsize);
	line-height: var(--line-height-sm);
}
.board-view > .head > em {
	display: block;
	margin-top: 0.75em;
	font-size: calc(1rem - 2px);
	line-height: var(--line-height-md);
	color: var(--gray-500);
}
@media (min-width: 1440px) {
	.board-view > .head > em {
		font-size: 1rem;
	}
}
.board-view > .body {
	min-height: 400px;
	padding: var(--board-body-padding-v) var(--board-body-padding-h);
	line-height: var(--line-height-lg) !important;
}
.board-view > .body a {
	display: inline-block;
	color: var(--blue) !important;
}
.board-view > .body img,
.board-view > .body video,
.board-view > .body iframe {
	display: block;
	max-width: var(--board-media-max-width);
	margin: var(--px-lg) auto;
}
.board-view > .body iframe.news-view {
	width: calc(100% + var(--board-body-padding-h) * 2);
	max-width: none;
	min-height: 400px;
	margin-top: calc(-1 * var(--board-body-padding-v));
	margin-bottom: calc(-1 * var(--board-body-padding-v));
	margin-left: calc(-1 * var(--board-body-padding-h));
	margin-right: calc(-1 * var(--board-body-padding-h));
}
.board-view > .body *:first-child {
	margin-top: 0;
}
.board-view > .foot {
	display: table;
	width: 100%;
	border-top: 1px solid var(--midnight-900);
}
.board-view > .foot > .sibling {
	display: table-row;
}
.board-view > .foot > .sibling > * {
	display: table-cell;
	--height: 3.5rem;
	height: var(--height);
	padding: 0 var(--board-footer-col-indent);
	vertical-align: middle;
	border-bottom: 1px solid var(--gray-100);
}
.board-view > .foot > .sibling > strong,
.board-view > .foot > .sibling > .date {
	width: 0;
	white-space: nowrap;
	text-align: center;
	font-weight: 400;
}
.board-view > .foot > .sibling > strong {
	padding: 0 calc(var(--board-footer-col-indent) * 1.5);
}
.board-view > .foot > .sibling > .title {
	width: 100%;
}
.board-view > .foot > .sibling > .title > em {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	height: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: var(--height);
}
.board-view > .foot > span.sibling > .title {
	color: var(--gray-500);
}
@media (max-width: 743px) {
	.board-view > .foot > .sibling > .date {
		display: none;
	}
}
@media (hover: hover) and (pointer: fine) {
	.board-view > .foot > a.sibling:hover > .title {
		text-decoration: underline;
	}
}

/* Board Write */
.board-write {
	border-top: 2px solid var(--midnight-900);
}
.board-write input[type='text'],
.board-write input[type='email'],
.board-write input[type='tel'] {
	width: 100%;
}
.agreement-box {
	position: relative;
	display: flex;
	justify-content: space-between;
	margin-top: var(--space-md2);
	padding: 4px var(--space-sm2);
	background-color: var(--gray-10);
	border: 1px solid var(--gray-10);
}
.agreement-box .dropdown-wrapper {
	position: static;
}
.agreement-box .toggle {
	display: flex;
	align-items: center;
	height: var(--input-md);
	overflow: hidden;
	font-size: 16px;
}
.agreement-box .toggle:after {
	content: '';
	width: var(--ic-sm);
	height: var(--ic-sm);
	margin-left: 2px;
	background: url(/img/arrow.svg) no-repeat;
	background-size: auto 100%;
	transition: transform 0.4s var(--cubic-bezier-primary);
}
.agreement-box .active .toggle:after {
	transform: rotate(180deg);
}
.agreement-box .full-text {
	z-index: 999;
	position: absolute;
	right: 0;
	top: 100%;
	width: 70%;
	min-width: 0;
}
.agreement-box .full-text > .inner {
	padding: var(--space-md3);
	background-color: #fff;
	border: 1px solid var(--midnight-900);
}
.agreement-box .full-text .heading-info {
	margin-top: 0;
	padding-bottom: var(--space-xsm2);
	border-bottom: 2px solid var(--midnight-900);
}
.agreement-box .full-text > .inner > p {
	margin-top: var(--space-xsm);
	font-size: var(--input-md-fsize);
	line-height: var(--line-height-md);
}
.agreement-box .full-text > .inner > p > strong {
	display: block;
}
@media (max-width: 743px) {
	.agreement-box {
		flex-direction: column;
		align-items: flex-end;
	}
	.agreement-box > label {
		min-width: 100%;
	}
	.agreement-box .toggle {
		font-size: 14px;
	}
	.agreement-box .full-text {
		width: 100%;
	}
}
.board-write .result-info {
	padding: var(--space-box) 0;
	text-align: center;
	border-bottom: 1px solid var(--gray-200);
	word-break: keep-all;
}
.board-write .result-info:before {
	display: block;
	content: '';
	width: var(--ic-xxlg);
	height: var(--ic-xxlg);
	margin: 0 auto var(--space-md);
	background: url(../images/ic_confirm.svg) no-repeat;
	background-size: auto 100%;
}
.board-write .result-info > strong {
	font-size: var(--space-md2);
	line-height: 1.3;
}
.board-write .result-info > p {
	margin-top: var(--space-xsm);
	line-height: var(--line-height-md);
}

/* Error Info */
.error-info {
	--space: 160px;
	padding: var(--space) var(--side-padding) calc(var(--space) - var(--bottom-padding));
	text-align: center;
	word-break: keep-all;
}
.error-info:before {
	content: '';
	display: block;
	width: var(--ic-xxlg);
	height: var(--ic-xxlg);
	margin: 0 auto var(--space-md);
	background: url(../images/ic_nodata.svg) no-repeat;
	background-size: auto 100%;
}
.error-info > strong {
	font-size: var(--space-md2);
	line-height: 1.3;
}
.error-info > p {
	margin-top: var(--space-xsm);
	line-height: var(--line-height-md);
}
@media (max-width: 743px) {
	.error-info {
		--space: 80px;
	}
}
@media (min-width: 1024px) and (max-width: 1439px) {
	.error-info {
		--space: 80px;
	}
}

/* Buttons */
.button-group {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: var(--px-lg);
}
.button-group.submit {
	align-items: flex-end;
	height: 100px;
	margin-top: 0;
}
.list-more {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: var(--btn-xlg2);
	margin-top: calc(var(--px-lg) - 8px);
	font-size: var(--list-more-size);
}
.gallery-list + .list-more {
	margin-top: 0;
}
.list-more i {
	position: relative;
	width: calc(var(--list-more-size) - 4px);
	height: calc(var(--list-more-size) - 4px);
	margin-top: -2px;
	margin-right: 4px;
	transition: transform 0.4s var(--cubic-bezier-primary);
}
.list-more:active i {
	transform: rotate(-90deg);
	transition: transform 0s;
}
.list-more i:before,
.list-more i:after {
	content: '';
	position: absolute;
	left: 0;
	top: calc(50% - 1px);
	width: 100%;
	height: 2px;
	background-color: var(--midnight-900);
}
.list-more i:after {
	transform: rotate(90deg);
}

/* Loading Indicator */
.loading-indicator {
	flex: 1;
	display: flex;
	min-height: 320px;
	align-items: center;
	justify-content: center;
	font-size: 0;
}
.loading-indicator > i {
	position: relative;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	animation: indicator 0.8s linear infinite;
}
.loading-indicator > i:before {
	content: '';
	position: absolute;
	inset: 0px;
	border-radius: 50%;
	border: 6px solid var(--gray-200);
	animation: indicator-clipping 1.6s linear infinite alternate;
}
@keyframes indicator {
	100% {
		transform: rotate(360deg);
	}
}
@keyframes indicator-clipping {
	0% {
		clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
	}
	25% {
		clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
	}
	50% {
		clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
	}
	75% {
		clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
	}
	100% {
		clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
	}
}
@media (max-width: 743px) {
	.loading-indicator > i {
		width: 32px;
		height: 32px;
	}
	.loading-indicator > i:before {
		border-width: 4px;
	}
}
@media (min-width: 744px) and (max-width: 1439px) {
	.loading-indicator > i {
		width: 40px;
		height: 40px;
	}
	.loading-indicator > i:before {
		border-width: 5px;
	}
}